@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");
*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Archivo Narrow";
  color: #555;
  position: relative;
}
.table-heading {
  letter-spacing: 0.1rem;
}
.popup-box {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.main-content a {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
}
/* shine effect on the sub grid */
.sub_grid {
  background-repeat: no-repeat;
  background-position: -200px -200px, 0 0;

  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );

  -moz-background-size: 250% 250%, 100% 100%;
  background-size: 250% 250%, 100% 100%;

  -webkit-transition: background-position 0s ease;
  -moz-transition: background-position 0s ease;
  -o-transition: background-position 0s ease;
  transition: background-position 0s ease;
}

.sub_grid:hover {
  background-position: 0 0, 0 0;

  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* shine effect on the sub grid */
.popup-content {
  position: fixed;
  width: 95vw;
  left: 50%;
  top: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 1.5rem 1rem;
  border-radius: 0.3rem;
  height: 90vh;
  z-index: 2;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  /* font-size: 30px; */
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #000;
  z-index: 3;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}
.close::before {
  position: absolute;
  content: "\00D7";
  color: #fff;
  top: 2px;
}
#chartdiv {
  width: 100%;
  height: 550px;
  max-height: 550px;
  box-sizing: border-box;
}
.chart-title {
  font-size: 40px;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.chart-title > .type {
  /* display: inline-block; */
  font-size: 0.6em;
  color: #b2b2b2;
  vertical-align: super;
  position: relative;
  top: 4px;
}
.barchart-wrapper {
  /*width: 45%;*/
  /*float: right;*/
  width: 100%;
  box-sizing: border-box;
}

.cat-header {
  padding: 0px 10px;
}
#cat-header-stats {
  float: right;
  font-weight: 300;
}

#barchart {
  height: 525px;
  max-height: 525px;
  box-sizing: border-box;
}

/*style for the right hand side Barchart*/
#backButton {
  border-radius: 4px;
  padding: 6px 25px;
  border: none;
  font-size: 16px;
  background-color: limegreen;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  letter-spacing: 0.2rem;
}
.invisible {
  display: none;
}
#chartContainer {
  position: relative;
  top: 20%;
}
.display-modify {
  font-size: 25px;
  text-align: center;
  color: #fff;
  margin: 0px;
  padding: 2rem 0rem;
}
.grid-system {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 8px;
  text-align: center;
}
.text_upper {
  text-transform: uppercase;
}
.sub_grid {
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.sub_grid h6 {
  margin: 0px;
  color: white;
  letter-spacing: 0.2rem;
}
.counter {
  margin: 5px 0px;
}
.counter h5 {
  margin: 0px;
  color: #fff;
  font-size: 22px;
  letter-spacing: 0.3rem;
}
.justify-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inside {
  height: 650px;
  padding: 0.5rem;
  position: relative;
  box-shadow: 1px 1px 14px rgb(0 0 0 / 0.2);
}
.inside_ {
  height: 470px;
  padding: 0.5rem;
  position: relative;
  box-shadow: 1px 1px 14px rgb(0 0 0 / 0.2);
}
#myChart1,
#myChart2 {
  margin-top: 2.5rem;
  height: 430px !important;
  width: 430px !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#myChart3 {
  height: 370px !important;
  width: auto !important;
  margin-top: 2.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.letter_space {
  letter-spacing: 0.3rem !important;
}
#custom_date {
  margin: 1rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_footer {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_footer h6 {
  padding: 0px;
  margin: 0px;
}
.align_item {
  position: relative;
}
#check_date {
  position: absolute;
  left: 0;
  bottom: 0;
  letter-spacing: 0.2rem;
}
.error_massage {
  height: 50vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 14px rgb(0 0 0 / 0.2);
}
.massage_text {
  text-align: center;
}
/* grid color code end */
/* responsive style sheet */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .grid-system {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    text-align: center;
  }
  .chart-title h5,
  h3 {
    text-align: center;
  }
  .chart-title h5 {
    font-size: 40px;
  }
  .chart-title h3 {
    font-size: 20px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .grid-system {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
  }
  .chart-title h5,
  h3 {
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .grid-system {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
  }
  .chart-title h5,
  h3 {
    text-align: left;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .grid-system {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    text-align: center;
  }
  .chart-title h5,
  h3 {
    text-align: left;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .chart-title h5,
  h3 {
    text-align: left;
  }
}
